
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

.calculator {
    width: 400px;
    height: 600px;
    background: #f7f7f7;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;
    color: white;
    background: black;
}

.screen {
    height: 20%;
    width: 80%;
    margin: 2.5% 10%;
    margin-top: 5%;
    border-radius: 20px;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid white;
}

.number {
    margin-right: 10px;
}

.clear {
    margin: 7px 10px;
    margin-right: auto;
    margin-bottom: 8px;
    border-radius: 100%;
    padding: 2px 5px;
    font-size: 40px;
    background: red;
    width: 50px;
    height: 50px;
    text-align:center;
    justify-content: center;
    align-items:center;
}

.clear-permenantly {
    position: absolute;
    top: 30px;
    left: 55px;
    font-size: 20px;
}


.btns {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 70%;
    margin: 2.5% 10%;
    border-radius: 20px;
    position: relative;
    font-size:20px;
}

.btn {
    display: flex;
    width: 15%;
    padding: 0;
    height: 20%;
    margin: 2.5% 2.5%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index:4;
    color: black;
}

.btn::after {
    content: "";
    background-color: white;
    z-index:-4;
    width: 100%;
    height: 60%;
    position: absolute;
    border-radius: 25%;
    border: 2px solid black;
    transition: all 0.2s;
}

.btn:hover::after {
    /* opacity: 0.5; */
    cursor: pointer;
    background: #b1b1b1;
}

.add::after {
    background: lightgreen;
}
.subtract::after {
    background: rgb(190, 85, 190);
}
.multiply::after{
    background:lightskyblue;
}
.divide::after{
    background: gold;
}
.equals::after{
    background:orangered;
}

.add:hover::after {
    background: rgb(80, 231, 80);
}
.subtract:hover::after {
    background: rgb(184, 40, 184);
}
.multiply:hover::after{
    background:rgb(65, 182, 255);
}
.divide:hover::after{
    background: rgb(206, 175, 4);
}
.equals:hover::after{
    background:rgb(196, 56, 5);
}

.inverse, .percent {
    overflow:hidden;
}

.js, .html {
    height: 60%;
    width: auto;
    border-radius: 25%;
}